<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BABY LOG</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>

<div th:replace="~{layout/header :: commonHeader}"></div>

<main>
    <form class="log-in">
        <h1>LOG IN</h1>

        <div class="ID">
            <label for="id">ID</label>
            <input id="id" type="email" placeholder="Enter your ID." required>
        </div>

        <div class="password">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Enter your password." required>
            <iconify-icon icon="proicons:eye" class="eye"></iconify-icon>
        </div>

        <button type="submit"  class="Sign-in">Sign In</button>

        <div class="help">
            <a href="#" class="help1" id="forgetPasswordBtn">Forgot your password?</a>
            <a href="#" class="help2">Manage subscriptions</a>
        </div>

        <hr>

        <div class="account">
            <h3>DON’T HAVE AN ACCOUNT YET?</h3>
            <button type="button" id="signUpBtn">Register NOW</button>
        </div>
    </form>
</main>

<div th:replace="~{layout/footer :: commonFooter}"></div>

<script type="module" src="/js/auth/login.js"></script>
<script src="/js/lib/iconify-icon.min.js"></script>

</body>
</html>
