<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(
          ~{::content},
          ~{::css}, ~{::script}
      )}">

<!-- 🔹 메인 전용 CSS -->
<th:block th:fragment="css">
    <link rel="stylesheet" href="/css/auth.css">
</th:block>


<!-- 🔹 메인 콘텐츠 -->
<div th:fragment="content">

    <form class="log-in">
        <h1>LOG IN</h1>

        <div class="ID">
            <label for="id">ID</label>
            <input id="id" type="email" placeholder="Enter your ID." required>
        </div>

        <div class="password">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Enter your password." required>
            <iconify-icon icon="proicons:eye" class="eye"></iconify-icon>
        </div>

        <button type="submit"  class="Sign-in">Sign In</button>

        <div class="help">
            <a href="#" class="help1" id="forgetPasswordBtn">Forgot your password?</a>
            <a href="#" class="help2">Manage subscriptions</a>
        </div>

        <hr>

        <div class="account">
            <h3>DON’T HAVE AN ACCOUNT YET?</h3>
            <button type="button" id="signUpBtn">Register NOW</button>
        </div>


        <div class="kakao">
            <button type="button" class="kakao-login" id="kakaoLoginBtn">
                카카오로 로그인
            </button>

        </div>
    </form>
</div>

<!-- 🔹 전용 JS -->
<th:block th:fragment="script">
    <script type="module" src="/js/auth/login.js"></script>
    <script src="/js/lib/iconify-icon.min.js"></script>
</th:block>

</html>
