<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>

<header th:fragment="commonHeader">
  <div class="logo"><a href="/" class="logoImg"><img class="logoImg" src="/images/logo.png" alt="Logo"></a></div>
  <div class="box">
    <ul class="menu Left">
      <li><a href="#">BORI </a></li>
      <li><a href="#">is</a></li>
      <li><a href="#">DOG</a></li>
      <li><a href="#">So</a></li>
      <li><a href="#">Cute</a></li>
    </ul>

    <ul class="menu Right">
      <li>
        <select name="Language" id="lang" aria-label="Language">
          <option value="En">English</option>
          <option value="Ko">Korea</option>
          <option value="Jp">Japan</option>
        </select>
      </li>
      <li><a href="#">BABY</a></li>
      <!--<li><a href="/login">LOGIN</a></li>-->
      <li>

        <!-- 로그인 안 된 상태 -->
        <a th:if="${session.LOGIN_USER == null}"
           href="/oauth/kakao">
          LOGIN
        </a>

        <!-- 로그인 된 상태 -->
        <a th:if="${session.LOGIN_USER != null}"
           href="/oauth/kakao/unlink">
          LOGOUT
        </a>
      </li>
    </ul>
  </div>
</header>

</body>
</html>