<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BABY LOG</title>

  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/layout.css">
  <th:block layout:fragment="css"></th:block>
</head>
<body>

<div th:replace="~{layout/header :: commonHeader}"></div>

<main>
  <main layout:fragment="content"></main>
</main>

<div th:replace="~{layout/footer :: commonFooter}"></div>

<th:block layout:fragment="script"></th:block>

<script src="/js/common.js"></script>
<script src="/js/lib/iconify-icon.min.js"></script>

</body>
</html>