@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Agdasima';
    list-style: none;
    color: #1D1D1B;
}

body {
    background-color: #F6F5EE;

    /* 로그인 화면과 동일한 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* ================= 회원가입 박스 ================= */

.signup-container {
    FONT-VARIANT: JIS83;
    background-color: #e6e5dc;
    border-radius: 30px;
    width: 450px;
    padding:35px;
}

/* 타이틀 */
.signup-container h2 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 32px;
}

/* 폼 그룹 */
.form-group {
    margin-bottom: 18px;
}

.form-group label {
    font-size: 20px;
    letter-spacing: 3px;
}

/* input 공통 */
.form-group input {
    width: 100%;
    height: 48px;
    margin-top: 8px;
    padding: 0 16px;

    background-color: #F6F5EE;
    border: 1px solid #CAC7C7;
    border-radius: 4px;
}

.form-group input:focus {
    outline: 2px solid #CAC7C7;
}

/* ================= 회원가입 버튼 ================= */

.signup-container button {
    width: 100%;
    height: 48px;
    margin-top: 40px;

    background-color: #1D1D1B;
    color: white;
    font-size: 20px;

    border: none;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #383833;
}

/* ================= 보조 텍스트 (선택) ================= */

.signup-container .sub-text {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #756f6f;
}
