<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BABY LOG</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <div class="logo"><a href="/" class="logoImg"><img class="logoImg" src="/images/logo.png" alt="Logo"></a></div>
    <div class="box">
        <ul class="menu Left">
            <li><a href="#">BORI</a></li>
            <li><a href="#">is</a></li>
            <li><a href="#">DOG</a></li>
            <li><a href="#">So</a></li>
            <li><a href="#">Cute</a></li>
        </ul>


        <ul class="menu Right">
            <li>
                <select name="Language" id="lang" aria-label="Language">
                    <option value="En">English</option>
                    <option value="Ko">Korea</option>
                    <option value="Jp">Japan</option>
                </select>
            </li>
            <li><a href="#">Search</a></li>
            <li><a href="/login">LOGIN</a></li>
        </ul>
    </div>
</header>

<main>
    <div class="images">
        <img src="/images/01.jpg" class="photo" alt="home">
    </div>
</main>

<script src="/js/script.js" defer></script>
</body>
</html>
