<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>BabyLog 회원가입</title>
    <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>

<div class="signup-container">
    <h2>회원가입</h2>

    <form id="signupForm">
        <div class="form-group ID">
            <label>E-mail</label>
            <input type="email" placeholder="email@babylog.com" required>
        </div>

        <div class="form-group password">
            <label>Password</label>
            <input type="password" placeholder="비밀번호" required>
        </div>

        <div class="form-group RePassword">
            <label>Password-Check</label>
            <input type="password" placeholder="비밀번호 재입력" required>
        </div>

        <div class="form-group name">
            <label>NAME</label>
            <input type="text" placeholder="이름" required>
        </div>

        <button type="submit">회원가입</button>
    </form>
</div>

<script src="/js/signUp.js" defer></script>
</body>
</html>
