<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BABY LOG</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<div th:replace="~{layout/header :: commonHeader}"></div>

<main>
    <div class="images">
        <img src="/images/01.jpg" class="photo" alt="home">
    </div>
</main>

<div th:replace="~{layout/footer :: commonFooter}"></div>
<script src="/js/home.js" defer></script>
</body>
</html>
