<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(
          ~{::content},
          ~{::css}, ~{::script}
      )}">

<!-- 🔹 메인 전용 CSS -->
<th:block th:fragment="css">
    <link rel="stylesheet" href="/css/home.css">
</th:block>


<!-- 🔹 메인 콘텐츠 -->
<div th:fragment="content">
    <div class="images">
        <img class="photo" src="/images/01.jpg" alt="home">
    </div>
</div>

<!-- 🔹 메인 전용 JS -->
<th:block th:fragment="script">
    <script src="/js/home.js" defer></script>
</th:block>

</html>
