name: BabyLog Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to GCP Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e

            echo "▶ Move to project directory"
            cd /home/dkffl2021/babylog-backend

            echo "▶ Pull latest code"
            git pull origin main

            echo "▶ Build project"
            ./gradlew build

            echo "▶ Restart BabyLog service"
            sudo systemctl restart babylog

            echo "✅ Deploy finished successfully"

